* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    width: 600px;
    height: 500px;
}

th,
td {
    border: 2px solid black;
    padding: 10px;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    background-color: lightgray;
    padding: 10px;
}

thead,
.result {
    background-color: gray;
    color: white;
    font-size: medium;
}

.numbers {
    text-align: center;
}

.media {
    text-align: left;
}
